.form-container{
    border: 2px solid gray;
    border-radius: 12px;
    padding: 20px;
    justify-content: center;
    margin: auto;
    width: max-content;
    margin-top: 20px;
}
.label-input-container{
    display: flex;
    justify-content: flex-start;
    margin-bottom: 15px;
    
}
.label-input-container input{
    margin-left: 15px;
    width: 500px;
    padding: 5px;
    
}
.label-input-container label{
    width: 100px;
    font-weight: bolder;
    padding: 5px;
}
.form-container button {
    font-weight: bold;
    color: white;
    background-color: #03396C;
    border-radius: 5px;
    z-index: 2;
    padding: 8px;
}